@keyframes rotate {
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-align: center;
  position: relative;
  left: 45vw;
  margin-top: 40vh;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 30px solid grey;
  border-top: 30px solid rgb(58, 58, 62);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.242);
}