* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    &__container {
        margin: 10px 20px;
        display: flex;
    }

    &__item {
        font-family: Protest Strike;
        color: black;

        :hover {
            text-decoration: underline;
        }

        @media (max-width: 426px) {
            font-size: 20px;
        }
    }

    &__contact {
        @media (max-width: 426px) {
            display: none;
        }
    }

    &__elems {
        display: flex;
        align-items: center;
        font-size: 40px;
        gap: 50px;

        @media (max-width: 426px) {
            gap: 40px;
        }
    }
}

.form {
    &__container {
        max-width: 30vw;
        margin: 5vw auto;
        background-color: #7e8896;
        border: 5px dashed #c3d2e8;
        border-radius: 10px;

        @media (max-width: 426px) {
            max-width: 60vw;
            height: 70vh;
            margin-left:30px; 
        }
    }

    &__form {
        color: white;
        max-width: 20vw;
        margin: 5vh 7vw;
        @media (max-width: 426px) {
            margin: 5vw 30px;
        }

        label {
            color: black;
        }

        input,
        textarea,
        option,
        select  {
            font-size: 20px;
            width: 15vw;
            height: 5vh;
            padding-left: 5px;
            border: 3px solid #a5afd5;
            border-radius: 5px;
            margin-bottom: 5px;
            outline: none;
            @media(max-width: 426px) {
                width: 170px;
            }
            }
        textarea {
            padding-top: 5px;
            height: 70px;
        }
    }
}