* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.header {
    &__container {
        max-width: 60vw;
        margin: 3vh auto;
        display: flex;
        background-color: #e6e6e6;
        font-family: Protest Strike;
        gap: 30px;
        padding: 3vh;
        border-radius: 30px;
        @media(max-width: 426px) {
            margin-left: 0;
        }
    }
    &__elem {
        font-size: 24px;
        color: black;
        :hover {
            text-decoration: underline;
        }
    }
}

#prev {
    @media (max-width: 426px) {
        position: absolute;
        left: 10px;
    }
}
#next {
    @media (max-width: 426px) {
        position: absolute;
        right: 10px;
    }
}
.close {
    position: absolute;
    left: 60px;
    top: 10px;
    cursor: pointer;
}
