.reviews__container {
  margin: 0 10vh;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 321px) {
  .reviews__container {
    width: 300px;
  }
}
.reviews__review {
  min-height: 10px;
  padding: 10px;
  width: 100%;
  font-weight: 700;
  background-color: #b4b4b4;
  border-top: 5px solid #c3d2e8;
  border-bottom: 5px solid #c3d2e8;
  margin-top: 2vh;
}
@media (max-width: 426px) {
  .reviews__review {
    width: 410px;
  }
}
@media (max-width: 376px) {
  .reviews__review {
    width: 370px;
  }
}
@media (max-width: 321px) {
  .reviews__review {
    width: 315px;
  }
}
.reviews__rtitle {
  font-size: 16px;
  max-width: 100vh;
  font-weight: 500;
  gap: 5px;
}
.reviews__comment {
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 426px) {
  .reviews__comment {
    font-size: 16px;
  }
}
@media (max-width: 426px) {
  .reviews__comment {
    width: 350px;
  }
}
@media (max-width: 426px) {
  .reviews__comment {
    width: 315px;
  }
}
@media (max-width: 426px) {
  .reviews__comment p {
    width: 350px;
  }
}
@media (max-width: 321px) {
  .reviews__comment p {
    width: 305px;
  }
}