.main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.main__card {
  margin: 5vh 15vh;
  cursor: pointer;
}
@media (max-width: 426px) {
  .main__card {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.main__container {
  background-color: #e6e6e6;
  border-radius: 30px;
  max-width: 70vw;
  margin: 3vh auto;
}
@media (max-width: 426px) {
  .main__container {
    margin-left: 0;
  }
}
.main__title {
  font-family: Protest Strike;
  text-align: center;
  margin-bottom: 1vh;
  font-size: 20px;
}
.main__rows {
  display: flex;
  gap: 10px;
}
@media (max-width: 426px) {
  .main__rows {
    gap: 3px;
  }
}
.main__row {
  display: flex;
  gap: 25px;
}
@media (max-width: 426px) {
  .main__row {
    gap: 9px;
  }
}
.main__text {
  max-width: 40vw;
  height: 100%;
  width: 100%;
  font-size: 1.2vw;
  text-align: center;
}
@media (max-width: 426px) {
  .main__text {
    width: 150px;
    font-size: 11px;
  }
}
.main__img {
  outline: 7px solid grey;
  outline-offset: -6px;
}
.main__gor {
  background-color: rgba(0, 0, 0, 0.351);
  max-width: 30vw;
  max-height: 7vw;
}
@media (max-width: 426px) {
  .main__gor {
    width: 80px;
    height: 60px;
  }
}
.main__gor img {
  width: 100%;
  height: 100%;
}
.main__vert {
  max-width: 20vw;
  max-height: 7vw;
}
@media (max-width: 426px) {
  .main__vert {
    width: 40px;
    height: 60px;
  }
}
.main__vert img {
  width: 100%;
  height: 100%;
}
.main__modal {
  position: fixed;
  z-index: 99;
  width: 30vw;
  margin: 100px 33vw;
  display: flex;
  align-items: center;
}
@media (max-width: 426px) {
  .main__modal {
    margin: 100px 0 100px 0;
    left: 10px;
    max-width: 400px;
    width: 100%;
  }
}
.main__modal-arr {
  cursor: pointer;
}