html {
  scroll-behavior: smooth;
}

body {
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@media (max-width: 426px) {
  body {
    background-color: rgb(175, 204, 222);
    background-image: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Protest Strike;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.mainn {
  max-width: 210vh;
  width: 100%;
  height: 100vh;
}
@media (max-width: 426px) {
  .mainn {
    width: 425px;
    width: 100%;
  }
}
.mainn__container {
  padding-top: 180px;
  display: flex;
}
@media (max-width: 426px) {
  .mainn__container {
    display: block;
  }
}
.mainn__block {
  position: relative;
  margin-left: 80px;
  display: block;
  max-width: 70vh;
  color: white;
  top: 15vh;
}
@media (max-width: 426px) {
  .mainn__block {
    margin-left: 10px;
  }
}
.mainn__title {
  font-weight: 900;
  font-family: Protest Strike;
  font-size: 50px;
}
.mainn__text {
  font-size: 20px;
  font-weight: 700;
}
.mainn__btn {
  text-align: center;
  padding: 5px 7px;
  font-size: 20px;
  margin-top: 30px;
  background-color: burlywood;
  max-width: 15vh;
  border-radius: 5px;
  font-family: Protest Strike;
}
.mainn__btn :hover {
  text-decoration: underline;
}
.mainn__slider {
  margin-left: 45vh;
  margin-top: 12vh;
  overflow: hidden;
}
@media (max-width: 426px) {
  .mainn__slider {
    margin-left: 10px;
    margin-top: 30px;
  }
}
.mainn__line {
  transition: all 1s;
  position: relative;
  display: flex;
  gap: 50px;
}
.mainn__img {
  animation-name: opacity;
  animation-duration: 2s;
  width: 36vh;
  height: 50vh;
}
.mainn__img img {
  border-radius: 15px;
  width: 40vh;
  height: 56vh;
}

.info__container {
  margin: 10vh 15vh;
  gap: 30px;
  border: 5px solid rgb(184, 184, 206);
  border-radius: 10px;
  background-color: #e1ece9;
}
@media (max-width: 426px) {
  .info__container {
    margin-top: 200px;
    margin-left: 5px;
    width: 420px;
  }
}
.info__container iframe {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media (max-width: 426px) {
  .info__container iframe {
    width: 409px;
    height: 409px;
  }
}
.info__row {
  display: flex;
}
@media (max-width: 426px) {
  .info__row {
    display: block;
  }
}
.info__text {
  padding: 30px 50px;
  font-size: 18px;
  text-align: center;
}
.info__text p {
  padding-bottom: 10px;
}
.info__btn {
  font-weight: 700;
  text-align: center;
  padding: 5px 7px;
  font-size: 18px;
  margin-top: 30px;
  background-color: grey;
  max-width: 30vh;
  border-radius: 5px;
  font-family: Protest Strike;
}
@media (max-width: 426px) {
  .info__btn {
    max-width: 55vw;
  }
}
.info__btn :hover {
  text-decoration: underline;
}

.footer__container {
  display: flex;
  background-color: rgba(189, 189, 189, 0.768);
  border-bottom: none;
}
@media (max-width: 426px) {
  .footer__container {
    display: block;
    text-align: center;
  }
}
.footer__block {
  display: block;
  margin-left: 3vw;
  padding-top: 5px;
}
.footer__item {
  padding-bottom: 5px;
  cursor: pointer;
  color: black;
}
.footer__item a {
  color: black;
}
.footer__item :hover {
  text-decoration: underline;
}