.footer__container {
  display: flex;
  background-color: rgba(189, 189, 189, 0.768);
  border-bottom: none;
}
@media (max-width: 426px) {
  .footer__container {
    display: block;
    text-align: center;
  }
}
.footer__block {
  display: block;
  margin-left: 3vw;
  padding-top: 5px;
}
.footer__item {
  padding-bottom: 5px;
  cursor: pointer;
  color: black;
}
.footer__item a {
  color: black;
}
.footer__item :hover {
  text-decoration: underline;
}