.main__img {
  max-width: 25vw;
  height: 16vh;
}
@media (max-width: 321px) {
  .main__img {
    max-width: 20vh;
  }
}
.main__img :hover {
  transform: scale(0.95);
}
.main__img img {
  max-width: 25vh;
  width: 100%;
  height: 16vh;
}
@media (max-width: 426px) {
  .main__img img {
    max-width: 180px;
    width: 100%;
  }
}
@media (max-width: 376px) {
  .main__img img {
    max-width: 25vh;
    width: 100%;
  }
}
.main__subtitle {
  font-family: Protest Strike;
  margin-bottom: 2px;
  font-size: 12px;
  max-width: 25vh;
}
@media (max-width: 426px) {
  .main__subtitle {
    font-size: 12px;
  }
}
@media (max-width: 321px) {
  .main__subtitle {
    font-size: 10px;
  }
}
.main__card {
  cursor: pointer;
}